.LanzamientosX {
  position: relative; /* Cambiado a relativo para flujo normal del documento */
  margin-top: 0.5%;
  text-align: center; /* Centrar el texto */
  font-family: 'Nabla', Arial, Helvetica, sans-serif;
}