.OfertasI {
  position: relative;
  margin-top: 0.5%;
  text-align: center; /* Centrar el texto */
  font-family: 'Nabla', Arial, Helvetica, sans-serif;

  .col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%; /* Establece un ancho máximo del 90% del contenedor padre */
  }

  .card-img-top {
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    height: 100%; /* Ajusta la altura automáticamente para mantener la proporción */
  }

  .card {
    width: 100%; /* Espacio entre las tarjetas */
    height: auto;
    margin: 1%; /* Añade margen entre las tarjetas */

    .card-title {
      font-size: 1rem;
      color: #111a81;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .card-text {
      font-size: 0.875rem;
      text-align: center;
    }
  }

  .ofertai {
    img {
      max-width: 100%;
      object-fit: cover;
    }

    p {
      margin-top: 5rem;
    }
  }
}
