/* Variables para modificar la navbar */

@import "../Utilities/variables";

/* Animación de respiración al momento de poner el mouse encima de un item en la navbar */

@import "../Utilities/animaciones";

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, #010318, rgb(0, 183, 255));
    color: rgb(255, 250, 250);
    padding: 0.5rem 0.5rem; /* Ajusta el padding según tus necesidades */
    font-family: 'Pixelify Sans', cursive; /* Fuente Pixelify en cualquier resolución */
    font-size: 1.3rem;

    /* Estilos para la lista de navegación */
    .nav-list {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem; /* Ajusta el espacio entre elementos */

        li {
            display: inline;
            margin-top: 2rem;
            
            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-weight: bold;
                transition: 1s;

                &:hover {
                    font-size: $tamaño-botones;
                    animation: coloresnavbar 3s infinite;
                }
            }
        }
    }

    /* Estilos para una resolución máxima de 360x640 píxeles */
    @media (max-width: 360px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;

        .nav-list {
            margin-top: -1.3rem;

            li {
                display: block;
            }
        }
    }

    /* Estilos para una resolución mínima de 361x640 píxeles */
    @media (min-width: 361px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        height: 3rem;

        .nav-list {
            margin-top: -2.5rem;

            li {
                display: block;
            }
        }
    }
}